h1 {
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
    border: black solid 1px;
}

h3 {
    margin-left: 5%;
    margin-right: 5%;
    border: black solid 1px;
}

.recipe-card{
    display: inline-grid;
    border: black solid 1px;
    border-radius: 1rem;
    width: 25rem;
    height: 25rem;
    margin: 1rem;
    text-align: center;
    margin-left: 3rem;
}

.recipe-img {
    justify-content: center;
}

.recipe-btn {
    text-decoration: none;
    color: #1975d2;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    font-size:1vw;
    border-radius: 5px;
}

.recipe-btn:hover {
    background-color: #f6fafd;
}

img {
    width: 150%;
}

.nav-link {
    margin-right: 0.5rem;
    appearance: none;
    backface-visibility: hidden;
    background-color: #2f80ed;
    border-radius: 10px;
    border-style: none;
    box-shadow: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
    height: auto;
}

.nav-link:hover {
    background-color: #1366d6;
    box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}

.nav-link:hover:after {
    opacity: .5;
}

.nav-link:active {
    box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
    transform: translateY(2px);
    transition-duration: .35s;
}

.nav-link:active:after {
    opacity: 1;
}

@media (min-width: 768px) {
    .nav-link {
        padding: 10px;
    }
}

.details-container {
    text-align: center;
    margin-top: 5rem;
}

.recipe-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}